<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>HG - Registro</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Links CSS-->
   <link rel="stylesheet" href="css/general.css">
</head>
<body>
  <div class="contenedor-inicio-sesion">
    <!-- Espacio para ingresar el logo -->
    <img src="imgs/HG_minilogo.png" alt="Logo" class="logo">

    <!-- Formulario -->
    <form action="../controllers/registro.php" method="POST">
      <!-- Campo para ingresar correo electrónico -->
      <input type="email" name="email" placeholder="Correo electrónico" required>

      <!-- Campo para ingresar nombre -->
      <input type="text" name="nombre" placeholder="Nombre" required>

      <!-- Campo para ingresar usuario -->
      <input type="text" name="usuario" placeholder="Usuario" Required>

      <!-- Contenedor para contraseña con ícono para mostrar/ocultar -->
      <div class="contenedor-contrasena">
        <!-- Campo para ingresar contraseña -->
        <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
        <!-- Ícono que cambia la visibilidad de la contraseña al hacer clic -->
        <span class="icono-toggle" onclick="mostrarOcultarContrasena()">
          <i id="iconoOjo" class="bi bi-eye"></i>
        </span>
      </div>

      <!-- Botón para enviar el formulario -->
      <button type="submit" class="boton-iniciar">Registrarse</button>

      <!-- Enlaces para recuperación de contraseña e inicio de sesión -->
      <div class="enlaces">
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="inicio.html">Iniciar sesion</a>
      </div>
    </form>
  </div>

  <!-- Sección con logo principal y lema -->
  <div class="lema">
    <a href="../index.html"><img src="imgs/HG_logo.png" alt="" class="logomain"></a>
    <h2 class="lema_sesion">Lleva tu juego al siguiente nivel:<br>Juega, compite y gana.</h2>
  </div>

  <!-- Script para mostrar/ocultar la contraseña -->
  <script src="js/showpss.js"></script>
</body>
</html>
